*{
  font-family: "Apple SD Gothic Neo";
  color: #16a20c;

}
body{
  background-image: url("https://picsum.photos/id/8/1400/720");
  background-position: center;
}
.cover {
  margin-top: -1.2%;
  /*height: 90px;*/
  display: flex;
  flex-direction: column;
  margin-left: 35%;
  max-width: 35%;
}

#myForm {
  margin-top: 3%;
  display: flex;
  flex-direction: column;
  margin-left: 0;
  max-width: 100%;
}

h1{
  max-width: 100%;
  margin-left: 0;
}

button {

  border: none;
  outline: none;
  color: #01070e;
  background: rgba(239, 237, 237, 0.71);
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
}

button:before {
  content: '';
  background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
  position: absolute;
  top: -2px;
  left:-2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity .3s ease-in-out;
  border-radius: 10px;
}

button:active {
  color: rgba(239, 237, 237, 0.71)
}

button:active:after {
  background: transparent;
}

button:hover:before {
  opacity: 1;
}

button:after {
  z-index: -1;
  content: '';
  background: #111;

  border-radius: 10px;
}

@keyframes glowing {
  0% { background-position: 0 0; }
  50% { background-position: 400% 0; }
  100% { background-position: 0 0; }
}



/* The slider itself */
.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #d3d3d3;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04AA6D;
  cursor: pointer;
}

/*p {*/
/*  font-family: sans-serif;*/
/*  color: #a2180c;*/
/*}*/
